.page {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: normal;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .page {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .page {
        flex-direction: column;
        background: repeating-linear-gradient(90deg, transparent, transparent 10px, rgba(255, 255, 255, .4) 10px, rgba(255, 255, 255, .4) 11px);
    }
}