.tool {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 14px;
    justify-content: start;
    align-items: center;
    max-width: 20%;
    min-width: 107px;
}

.tool__img {
    filter: grayscale(1);
    height: 30px;
    transition: filter .15s ease-in;
}

.tool__img_light {
    filter: grayscale(1) brightness(5);
    opacity: .7;
    transition: opacity .15s ease-in;
}

.tool:hover .tool__img {
    filter: grayscale(0);
}

.tool:hover .tool__img_light  {
    opacity: 1;
    filter: grayscale(1) brightness(5);
}

.tool__img_invert {
    filter: grayscale(1) invert(1);
}

.tool:hover .tool__img_invert  {
    filter: grayscale(0) invert(1);
}

.tool:hover .tool__img_invert.tool__img_light  {
    opacity: 1;
    filter: grayscale(0) invert(1) brightness(5);
}

.tool__name {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    opacity: .7;
    transition: opacity .15s ease-in;
}

.tool:hover .tool__name {
    opacity: 1;
}