
.contacts {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-top: 50px;
    min-height: 100vh;
}

.contacts__avatar {
    height: 150px;
    width: 150px;
    margin-right: 20px;
}

.contacts__bio-wrapper {
    display: flex;
}

.contacts__subtitle {
    color: white;
    font-family: 'Haas', sans-serif;
    letter-spacing: 0.03em;
    margin: 0;
}

.contacts__point {
    display: flex;
    gap: 12px;
    align-items: center;
    text-decoration: none;
}

.contacts__point:hover > .contacts__img {
    opacity: .7;
}

.contacts__point:hover > .contacts__text {
    opacity: .7;
}

.contacts__point:hover > .contacts__period {
    opacity: .7;
}

.contacts__point_exp {
    gap: 20px;
}

.contacts__img {
    cursor: pointer;
    opacity: 1;
    transition: opacity .15s ease-in;
    height: 32px;
}

.contacts__img_scream-school {
    height: 16px;
    padding-bottom: 4px;
}

.contacts__img:hover {
    opacity: .7;
}

.contacts__period {
    color: gray;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    opacity: 1;
    transition: opacity .15s ease-in;
}

.contacts__text {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    opacity: 1;
    transition: opacity .15s ease-in;
}

.contacts__skill {
    background: white;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 16px;
    border-radius: 5px;
    padding: 8px 12px;
    color: black;
    font-weight: 600;
    letter-spacing: 0.02em;
    margin: 0;
}

.contacts__toolbox {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: start;
}

.contacts__block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 170px;
}

.contacts__block:first-of-type {
    padding-left: 0;
}

.contacts__block_bio {
    justify-content: space-between;
}

.contacts__block_first {
    flex-direction: row;
}

.contacts__button-img {
    filter: brightness(0);
    height: 18px;
}

.contacts__button {
    background: white;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 16px;
    border-radius: 5px;
    color: black;
    font-weight: 600;
    letter-spacing: 0.02em;
    margin: 0;
    display: flex;
    width: max-content;
    padding: 7px 12px 7px 10px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    opacity: 1;
    text-decoration: none;
    transition: opacity .15s ease-in;
}

.contacts__button-text {
    margin: 0;
    text-decoration: none;
    color: black;
}

.contacts__button:hover {
    opacity: .7;
}

@media screen and (max-width: 768px) {
    .contacts__avatar {
        height: auto;
        width: 50%;
        margin-right: 0;
        align-self: center;
    }

    .contacts__bio-wrapper {
        flex-direction: column;
        padding-left: 0;
    }

    .contacts__point {
        flex-direction: column;
        align-items: start;
    }

    .contacts__block {
        padding-left: 0;
    }

    .contacts__toolbox {
        flex-direction: column;
        align-items: start;
    }
}