.header {
    position: fixed;
    top: 40px;
    right: 40px;
    display: flex;
    box-sizing: border-box;
    background-color: var(--light);
    z-index: 2;
}

.header__logo {
    max-height: 50px;
    display: none;
}

.header__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* gap: 20px; */
    font-family: 'Haas', sans-serif;
    text-transform: lowercase;
    letter-spacing: .03em;
}

.header__menu-navlink { 
    text-decoration: none;
    color: white;
}

.header__menu-link {
    background: rgba(255, 255, 255, 0);
    filter: invert(0);
    padding: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    opacity: .6;
    /* border-bottom: 1px transparent solid;
    padding-bottom: 1px; */
    transition: all .15s ease-in;
    /* transition: background .15s ease-in;
    transition: padding .15s ease-in; */
}

.header__menu-link:hover {
    opacity: 1;
}

.header__menu-link_hovered {
    opacity: 1;
}

.header__menu-link_current {
    transition: all .15s ease-in;
    opacity: 1;
    background: rgba(255, 255, 255, 1);
    color: black;
    /* background: repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(255,255,255,.5) 10px, rgba(255,255,255,.5) 11px); */
}

.header__menu-link-p {
    margin: 0;
}

.header__menu-link-span {
    transition: opacity .15s ease-in;
    opacity: 1;
    padding-right: 10px;
}

.header__menu-link-span_visible {
    opacity: 1;
    padding-right: 10px;
}

/* .header__menu-link-p:hover > .header__menu-link-span {
    opacity: 1;
} */

@media screen and (max-width: 768px) {
    .header {

    }  
}

@media screen and (max-width: 480px) {
    .header {

    }   
}