.case {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    padding-bottom: 80px;
}

.case__header {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 50px;
    z-index: 1;
}

.case__header_hero {
    max-width: 400px;
    position: absolute;
    padding-left: 50px;
    left: 0;
}

.case__title {
    color: white;
    font-family: 'Haas', sans-serif;
    font-size: 72px;
    line-height: 0.82;
    margin: 0;
    text-transform: lowercase;
}

.case__subtitle {
    color: white;
    font-family: 'PT Serif', serif;
    margin: 0;
    font-weight: 400;
}

.case__img {
    max-width: 600px;
    animation: fade-in 1s ease-in;
    animation-timeline: view();
}

.case__img_hero {
    max-width: 100%;
}

.case__toolbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 48px;
    justify-content: start;
}

.case__toolbox_hero {
    flex-direction: column;
    gap: 24px;
}

@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1}
}